source/html/base.pug
- var menuItems = ['Блог', 'Доставка и оплата', 'Дилерам', 'Контакты'];
- var footerNav1 = ['О компании', 'Доставка и оплата', 'Проектирование', 'Монтаж', 'Выполненные проекты', 'Блог', 'Дилерам', 'Контакты'];
- var footerNav2 = ['Освещение магазинов', 'Освещение офисов', 'Освещение складов', 'Освещение салонов красоты', 'Освещение автосалонов', 'Освещение выставок'];
- var footerNav3 = ['Трековые светильники', 'Модульные светильники', 'Карданные светильники', 'Встраиваемые светильники ', 'Светильники со степенью защиты', 'Светильники для подвесных потолков'];







doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

		script( src="js/startFunction.min.js")
		title Project
	body
		div(class="page")
			header(class="header")
				div(class="header_border d-none d-lg-flex")
					div(class="container")
						div(class="row")
							div(class="col-12")
								div(class="header__first")
									div(class="city")
										span
											| Выш город:
										span(class="city__point")
											| Москва
									nav(class="header__first__nav")
										each val, index in menuItems
											a(href="#") 
												= val
				div(class="container")
					div(class="row")
						div(class="col-12")
							div(class="header__second")
								a(class="logo" href="#")
									picture
										source(media="(max-width: 991px)" data-srcset="images/logo__mobile.png")
										img(class="lazyload" data-src="images/logo__desktop.png" alt="logo")
									span(class="logo__header")
										|Intera<br>Lighting
								div(class="phone-collection d-none d-lg-flex align-self-center")
									div(class="phone-collection__item")
										a(class="phone-collection__number" href="tel:+74956413848")
											| +7 495 641-38-48
										span(class="phone-collection__description")
											| Пн-Чт с 09:00 до 18:00
									div(classs="phone-collection__item")
										a(class="phone-collection__number" href="tel:+74956413848")
											| +7 495 641-38-48
										span(class="phone-collection__description")
											| Пн-Чт с 09:00 до 18:00
								div(class="d-none d-lg-flex align-self-center")
									button(class="btn btn_orange"  data-toggle="modal" data-target="#modalCall")
										| Обратный звонок
								div(class="d-flex align-items-center")
									a(class="basket basket_mini full" href="#")
										div(class="basket__icon")
											i(class="fas fa-shopping-cart")
											div(class="basket__count")
												| 5
										div(class="pl-3")
											span(class="basket__title")
												| Ваша корзина
											span(class="basket__price")
												| Сумма 64 546 руб.
									button(class="btn__menu d-lg-none")
										svg(id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')")
											path(class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20")
											path(class="line middle" d="m 30,50 h 40")
											path(class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20")
				div(class="header__third d-none d-lg-flex")
					div(class="container")
						div(class="row")
							div(class="col-1 d-flex align-items-center")
								a(href="#")
									i(class="fas fa-home")
							div(class="col-10")
								nav()
									div(class="hed")
										a(href="#")
											| Каталог светильников
										div(class="hed__deep")
											div(class="container")
												div(class="row no-gutters align-items-start")
													div(class="col-2")
														span(class="d-block h2 pt-5")
															| Каталог<br>продукции
													div(class="col-6 pl-5 d-flex flex-wrap align-items-start justify-content-start")
														div(class="hed__deep__wrap")
															a(href="#")
																| Трековые светильники
															a(href="#")
																| Модульные светильники
															a(href="#")
																| Карданные светильники
														div(class="hed__deep__wrap")
															a(href="#")
																| Встраиваемые светильники (DownLight)
															a(href="#")
																| Светильники со степенью защиты (IP)
															a(href="#")
																| Светильники для подвесных потолков
														div(class="hed__deep__wrap")
															a(href="#")
																| Подвесные светильники
															a(href="#")
																| Аварийные светильники
															a(href="#")
																| Уличные светильники
														div(class="hed__deep__wrap")
															a(href="#")
																| Трековая система (Шинопровод)
															a(href="#")
																| Промышленные светильники
															a(href="#")
																| Комплектующие
													div(class="col-4 pl-5")
														div(class="hed__deep__right")
															img(class="lazyload w-100" data-src="images/ed.png" alt="img")
															div(class="main__slider__content")
																span(class="main__slider__header")
																	| Модульный светильник 
																	span(class="d-block")
																		| Module line
																div(class="row")
																	div(class="col-12")
																		p
																			| Для создания непрерывных световых линий. Посмотрите более 100 модификаций этого светильника.
																		div(class="d-flex align-items-center pt-4")
																			span(class="main__slider__price")
																				| 3,890 руб
																			a(href="#" class="main__second__link")
																				| Подробнее

									a(href="#")
										| Отраслевые решения
									a(href="#" class="active")
										| Проектирование
									a(href="#")
										| Монтаж
									a(href="#")
										| Выполненные проекты
									a(href="#")
										|  О компании
							div(class="col-1 d-flex justify-content-end align-items-center ")
								form(class="search" id="search")
									label(class="fas fa-search")
										input(type="search" class="search__input  search")
			div(class="navigation__content")
				div(class="navigation__wrap")
					form(class="search" id="search")
						label(class="fas fa-search")
						input(type="search" class="search__input  search" placeholder="Поиск по сайту")
					ul(class="navigation__menu")
						each val, index in ['Каталог светильников','Отраслевые решения','Проектирование','Монтаж','Выполненные проекты','О компании']
							li
								a(href="#" class="navigation__menu__link_1 d-flex justify-content-between align-items-center") 
									= val
									img(class="lazyload" data-src="images/menu_arrow.svg" alt="img")
						each val, index in ['Блог','Доставка и оплата','Дилерам','Контакты']
							li
								a(href="#" class="navigation__menu__link_2 active d-flex justify-content-between align-items-center")
									= val
									img(class="lazyload" data-src="images/menu_arrow.svg" alt="img")
						li
							div(class="city")
								span
									| Выш город:
								span(class="city__point")
									| Москва
						div(class="phone-collection d-lg-flex align-self-center")
							div(class="phone-collection__item")
								a(class="phone-collection__number" href="tel:+74956413848")
									| +7 495 641-38-48
								span(class="phone-collection__description")
									| Пн-Чт с 09:00 до 18:00
							div(classs="phone-collection__item")
								a(class="phone-collection__number" href="tel:+74956413848")
									| +7 495 641-38-48
								span(class="phone-collection__description")
									| Пн-Чт с 09:00 до 18:00
						div(class="d-flex justify-content-center align-items-center pb-4")
							button(class="btn btn_orange" data-toggle="modal" data-target="#modalCall")
								| Обратный звонок
			div(class="content")
				block content
		div(class="modal fade call" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true" )
			div(class="modal-dialog modal-lg modal-dialog-centered" role="document")
				div(class="modal-content")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							| &times;
					div(class="modal-body")
						div(class="row no-gutters")
							div(class="col-lg-6 p-0 call__background")
							div(class="col-12 col-lg-6 p-lg-0")
								form(class="form")
									span(class="call__header")
										| Бесплатная консультация
									p
										| Оставьте свой номер, и мы перезвоним вам
									label(class="pt-4 pt-lg-0")
										| Ваш номер телефона
										input(type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ")
									div(class="py-5 d-flex justify-content-between align-items-center")
										label(class="call__input")
											input(type="radio" name="r")
											span
											span(class="call__input__text")
												| Сейчас
										label(class="call__input")
											input(type="radio" name="r")
											span
											span(class="call__input__text")
												| Точное время
									label(class="pt-4 pt-lg-0")
										| Во сколько позвонить?
										input(type="time" value="00:00")
									div(class="pt-5 form__line_f d-flex align-items-start justify-content-start")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info")
											| Согласен с политикой обработки<br>
											a(href="#" class="form__info")
												| персональных данных
									button(class="btn w-100")
										| Жду звонка


												
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalCalc" aria-labelledby="ModalCalc" aria-hidden="true" >
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Получить расчет</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						p
							| Заполните форму и мы свяжемся с вами
						form(class="form form_reshenia")
							label(class="form__line")
								span
									| Ваше имя
								input(class="" type="text" placeholder="Андрей")
							label(class="form__line")
								span
									| Ваш номер телефона
								input(class="" type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ")
							label(class="form__line")
								div(class="form__line_f d-flex align-items-start justify-content-start")
									label(class="m-0")
										input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
										span(for="checkbox" class="checkbox__label")
									p( class="form__info")
										| Согласен с политикой обработки
										a(href="#" class="form__info")
											| персональных данных
								button(class="btn" type="submit")
									| Оставить заявку
					</div>
				</div>
			</div>
		</div>
		div(class="modal fade" id="modalDoneItem" tabindex="-1" role="dialog" aria-labelledby="modalDoneItemTitle" aria-hidden="true")
			div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
				div(class="modal-content")
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							| &times;
					div(class="modal-body")
						img(class="lazyload" data-src="images/card/dimond.png" alt="img")
						h3(class="mb-4")
							| Товар добавлен<br>в корзину
						a(href="#" class="w-100 btn btn_work mb-4")
							| Продолжить покупку
						a(href="#" class="w-100 btn btn_main")
							| Оформить заказ
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalVideo" aria-labelledby="ModalVideo" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							| &times;
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		div(class="btn-to-top")
			div(class="btn-to-top__content d-flex justify-content-center align-items-center")
				svg(class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316")
					g(id="arrow-up" transform="translate(-1035.793 -4349.188)")
						g(id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)")
							path(id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)")
		footer(class="footer")
			div(class="footer__first")
				div(class="container")
					div(class="row")
						div(class="col-12 d-block d-lg-none")
							div(class="accordion" id="accordionFooter")
								div(class="card")
									h2(class="footer__header card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
										| Меню
									div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFooter")
										div(class="card-body")
											each val, index in footerNav1
												a(href="#" class="footer__link")
													= val
								div(class="card")
									h2(class="card-header footer__header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
										|  Отраслевые решения
									div(id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionFooter")
										div(class="card-body")
											each val, index in footerNav2
												a(href="#" class="footer__link")
													= val
								div(class="card")
									h2(class="footer__header collapsed card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
										| Тип светильников
									div(id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordionFooter")
										div(class="card-body")
											each val, index in footerNav3
												a(href="#" class="footer__link")
													= val
						div(class="col-lg-4")
							span(class="footer__header")
								| Контактная информация
							p(class="footer__description")
								| Адрес: Москва, ул. Полярная, д. 41, стр. 1<br>E-mail: info@interalighting.ru
							div(class="phone-collection ")
								div(class="phone-collection__item")
									a(class="phone-collection__number" href="tel:+74956413848")
										| +7 495 641-38-48
									span(class="phone-collection__description")
										| Пн-Чт с 09:00 до 18:00
								div(classs="phone-collection__item")
									a(class="phone-collection__number" href="tel:+74956413848")
										| +7 495 641-38-48
									span(class="phone-collection__description")
										| Пн-Чт с 09:00 до 18:00
							div(class="social pt-5")
								a(href="#" class="social__link")
									<i class="fab fa-facebook-f"></i>
								a(href="#" class="social__link")
									<i class="fab fa-vk"></i>
								a(href="#" class="social__link")
									<i class="fab fa-youtube"></i>
								a(href="#" class="social__link")
									<i class="fab fa-instagram"></i>
						div(class="col-lg-2 d-none d-lg-block")
							span(class="footer__header")
								| Меню
							each val, index in footerNav1
								a(href="#" class="footer__link")
									= val
						div(class="col-lg-3 d-none d-lg-block")
							span(class="footer__header")
								| Отраслевые решения
							each val, index in footerNav2
								a(href="#" class="footer__link")
									= val
						div(class="col-lg-3 d-none d-lg-block")
							span(class="footer__header")
								| Тип светильников
							each val, index in footerNav3
								a(href="#" class="footer__link")
									= val
			div(class="footer__second")
				div(class="container")
					div(class="row")
						div(class="footer__second__wrap col-12 d-flex justify-content-between align-items-center")
							span(class="order-2 order-lg-1 d-none d-lg-block")
								| © 2005-2019 «Интера Лайтинг» Все права защищены
							span(class="order-2 order-lg-1 pt-5 pt-lg-0 d-block d-lg-none text-center")
								| © 2005-2019 «Интера Лайтинг»<br>Все права защищены
							div(class="footer__second__wrap_wrap d-flex justify-content-between align-items-center order-1 order-lg-2")
								a(href="#")
									| Политика конфиденциальности
								a(href="#" class="ml-lg-5 mt-3 mt-lg-0")
									| Пользовательское соглашение
	<script src="https://yastatic.net/share2/share.js" async="async"></script>
	<script src="https://api-maps.yandex.ru/2.1/?apikey=65920c7d-2bb6-4422-ad3e-0c9dfead78c6&lang=ru_RU" type="text/javascript"></script>
	script(src="js/main.min.js")
	

release/base.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header_border d-none d-lg-flex">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="header__first">
                  <div class="city"><span>Выш город:</span><span class="city__point">Москва</span></div>
                  <nav class="header__first__nav"><a href="#"> Блог</a><a href="#"> Доставка и оплата</a><a href="#"> Дилерам</a><a href="#"> Контакты</a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header__second"><a class="logo" href="#">
                  <picture>
                    <source media="(max-width: 991px)" data-srcset="images/logo__mobile.png"><img class="lazyload" data-src="images/logo__desktop.png" alt="logo">
                  </picture><span class="logo__header">Intera<br>Lighting</span></a>
                <div class="phone-collection d-none d-lg-flex align-self-center">
                  <div class="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
                  <div classs="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
                </div>
                <div class="d-none d-lg-flex align-self-center">
                  <button class="btn btn_orange" data-toggle="modal" data-target="#modalCall">Обратный звонок</button>
                </div>
                <div class="d-flex align-items-center"><a class="basket basket_mini full" href="#">
                    <div class="basket__icon"><i class="fas fa-shopping-cart"></i>
                      <div class="basket__count">5</div>
                    </div>
                    <div class="pl-3"><span class="basket__title">Ваша корзина</span><span class="basket__price">Сумма 64 546 руб.</span></div></a>
                  <button class="btn__menu d-lg-none">
                    <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                      <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                      <path class="line middle" d="m 30,50 h 40"></path>
                      <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header__third d-none d-lg-flex">
          <div class="container">
            <div class="row">
              <div class="col-1 d-flex align-items-center"><a href="#"><i class="fas fa-home"></i></a></div>
              <div class="col-10">
                <nav>
                  <div class="hed"><a href="#">Каталог светильников</a>
                    <div class="hed__deep">
                      <div class="container">
                        <div class="row no-gutters align-items-start">
                          <div class="col-2"><span class="d-block h2 pt-5">Каталог<br>продукции</span></div>
                          <div class="col-6 pl-5 d-flex flex-wrap align-items-start justify-content-start">
                            <div class="hed__deep__wrap"><a href="#">Трековые светильники</a><a href="#">Модульные светильники</a><a href="#">Карданные светильники</a></div>
                            <div class="hed__deep__wrap"><a href="#">Встраиваемые светильники (DownLight)</a><a href="#">Светильники со степенью защиты (IP)</a><a href="#">Светильники для подвесных потолков</a></div>
                            <div class="hed__deep__wrap"><a href="#">Подвесные светильники</a><a href="#">Аварийные светильники</a><a href="#">Уличные светильники</a></div>
                            <div class="hed__deep__wrap"><a href="#">Трековая система (Шинопровод)</a><a href="#">Промышленные светильники</a><a href="#">Комплектующие</a></div>
                          </div>
                          <div class="col-4 pl-5">
                            <div class="hed__deep__right"><img class="lazyload w-100" data-src="images/ed.png" alt="img">
                              <div class="main__slider__content"><span class="main__slider__header">Модульный светильник <span class="d-block">Module line</span></span>
                                <div class="row">
                                  <div class="col-12">
                                    <p>Для создания непрерывных световых линий. Посмотрите более 100 модификаций этого светильника.</p>
                                    <div class="d-flex align-items-center pt-4"><span class="main__slider__price">3,890 руб</span><a class="main__second__link" href="#">Подробнее</a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><a href="#">Отраслевые решения</a><a class="active" href="#">Проектирование</a><a href="#">Монтаж</a><a href="#">Выполненные проекты</a><a href="#"> О компании</a>
                </nav>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-center ">
                <form class="search" id="search">
                  <label class="fas fa-search">
                    <input class="search__input  search" type="search">
                  </label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="navigation__content">
        <div class="navigation__wrap">
          <form class="search" id="search">
            <label class="fas fa-search"></label>
            <input class="search__input  search" type="search" placeholder="Поиск по сайту">
          </form>
          <ul class="navigation__menu">
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Каталог светильников<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Отраслевые решения<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Проектирование<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Монтаж<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Выполненные проекты<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> О компании<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Блог<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Доставка и оплата<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Дилерам<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Контакты<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li>
              <div class="city"><span>Выш город:</span><span class="city__point">Москва</span></div>
            </li>
            <div class="phone-collection d-lg-flex align-self-center">
              <div class="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
              <div classs="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
            </div>
            <div class="d-flex justify-content-center align-items-center pb-4">
              <button class="btn btn_orange" data-toggle="modal" data-target="#modalCall">Обратный звонок</button>
            </div>
          </ul>
        </div>
      </div>
      <div class="content">
      </div>
    </div>
    <div class="modal fade call" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-body">
            <div class="row no-gutters">
              <div class="col-lg-6 p-0 call__background"></div>
              <div class="col-12 col-lg-6 p-lg-0">
                <form class="form"><span class="call__header">Бесплатная консультация</span>
                  <p>Оставьте свой номер, и мы перезвоним вам</p>
                  <label class="pt-4 pt-lg-0">Ваш номер телефона
                    <input type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ">
                  </label>
                  <div class="py-5 d-flex justify-content-between align-items-center">
                    <label class="call__input">
                      <input type="radio" name="r"><span></span><span class="call__input__text">Сейчас</span>
                    </label>
                    <label class="call__input">
                      <input type="radio" name="r"><span></span><span class="call__input__text">Точное время</span>
                    </label>
                  </div>
                  <label class="pt-4 pt-lg-0">Во сколько позвонить?
                    <input type="time" value="00:00">
                  </label>
                  <div class="pt-5 form__line_f d-flex align-items-start justify-content-start">
                    <label class="m-0">
                      <input class="checkbox" type="checkbox" id="checkbox" checked aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                    </label>
                    <p class="form__info">Согласен с политикой обработки<br><a class="form__info" href="#">персональных данных</a></p>
                  </div>
                  <button class="btn w-100">Жду звонка</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalCalc" aria-labelledby="ModalCalc" aria-hidden="true" >
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Получить расчет</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <p>Заполните форму и мы свяжемся с вами</p>
    <form class="form form_reshenia">
      <label class="form__line"><span>Ваше имя</span>
        <input type="text" placeholder="Андрей">
      </label>
      <label class="form__line"><span>Ваш номер телефона</span>
        <input type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ">
      </label>
      <label class="form__line">
        <div class="form__line_f d-flex align-items-start justify-content-start">
          <label class="m-0">
            <input class="checkbox" type="checkbox" id="checkbox" checked aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
          </label>
          <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
        </div>
        <button class="btn" type="submit">Оставить заявку</button>
      </label>
    </form></div>
</div>
</div>
</div>
    <div class="modal fade" id="modalDoneItem" tabindex="-1" role="dialog" aria-labelledby="modalDoneItemTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-body"><img class="lazyload" data-src="images/card/dimond.png" alt="img">
            <h3 class="mb-4">Товар добавлен<br>в корзину</h3><a class="w-100 btn btn_work mb-4" href="#">Продолжить покупку</a><a class="w-100 btn btn_main" href="#">Оформить заказ</a>
          </div>
        </div>
      </div>
    </div><div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalVideo" aria-labelledby="ModalVideo" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__first">
        <div class="container">
          <div class="row">
            <div class="col-12 d-block d-lg-none">
              <div class="accordion" id="accordionFooter">
                <div class="card">
                  <h2 class="footer__header card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Меню</h2>
                  <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionFooter">
                    <div class="card-body"><a class="footer__link" href="#">О компании</a><a class="footer__link" href="#">Доставка и оплата</a><a class="footer__link" href="#">Проектирование</a><a class="footer__link" href="#">Монтаж</a><a class="footer__link" href="#">Выполненные проекты</a><a class="footer__link" href="#">Блог</a><a class="footer__link" href="#">Дилерам</a><a class="footer__link" href="#">Контакты</a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="card-header footer__header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Отраслевые решения</h2>
                  <div class="collapse " id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionFooter">
                    <div class="card-body"><a class="footer__link" href="#">Освещение магазинов</a><a class="footer__link" href="#">Освещение офисов</a><a class="footer__link" href="#">Освещение складов</a><a class="footer__link" href="#">Освещение салонов красоты</a><a class="footer__link" href="#">Освещение автосалонов</a><a class="footer__link" href="#">Освещение выставок</a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="footer__header collapsed card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Тип светильников</h2>
                  <div class="collapse " id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionFooter">
                    <div class="card-body"><a class="footer__link" href="#">Трековые светильники</a><a class="footer__link" href="#">Модульные светильники</a><a class="footer__link" href="#">Карданные светильники</a><a class="footer__link" href="#">Встраиваемые светильники </a><a class="footer__link" href="#">Светильники со степенью защиты</a><a class="footer__link" href="#">Светильники для подвесных потолков</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4"><span class="footer__header">Контактная информация</span>
              <p class="footer__description">Адрес: Москва, ул. Полярная, д. 41, стр. 1<br>E-mail: info@interalighting.ru</p>
              <div class="phone-collection ">
                <div class="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
                <div classs="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
              </div>
              <div class="social pt-5"><a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a><a class="social__link" href="#"><i class="fab fa-vk"></i></a><a class="social__link" href="#"><i class="fab fa-youtube"></i></a><a class="social__link" href="#"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-lg-2 d-none d-lg-block"><span class="footer__header">Меню</span><a class="footer__link" href="#">О компании</a><a class="footer__link" href="#">Доставка и оплата</a><a class="footer__link" href="#">Проектирование</a><a class="footer__link" href="#">Монтаж</a><a class="footer__link" href="#">Выполненные проекты</a><a class="footer__link" href="#">Блог</a><a class="footer__link" href="#">Дилерам</a><a class="footer__link" href="#">Контакты</a>
            </div>
            <div class="col-lg-3 d-none d-lg-block"><span class="footer__header">Отраслевые решения</span><a class="footer__link" href="#">Освещение магазинов</a><a class="footer__link" href="#">Освещение офисов</a><a class="footer__link" href="#">Освещение складов</a><a class="footer__link" href="#">Освещение салонов красоты</a><a class="footer__link" href="#">Освещение автосалонов</a><a class="footer__link" href="#">Освещение выставок</a>
            </div>
            <div class="col-lg-3 d-none d-lg-block"><span class="footer__header">Тип светильников</span><a class="footer__link" href="#">Трековые светильники</a><a class="footer__link" href="#">Модульные светильники</a><a class="footer__link" href="#">Карданные светильники</a><a class="footer__link" href="#">Встраиваемые светильники </a><a class="footer__link" href="#">Светильники со степенью защиты</a><a class="footer__link" href="#">Светильники для подвесных потолков</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__second">
        <div class="container">
          <div class="row">
            <div class="footer__second__wrap col-12 d-flex justify-content-between align-items-center"><span class="order-2 order-lg-1 d-none d-lg-block">© 2005-2019 «Интера Лайтинг» Все права защищены</span><span class="order-2 order-lg-1 pt-5 pt-lg-0 d-block d-lg-none text-center">© 2005-2019 «Интера Лайтинг»<br>Все права защищены</span>
              <div class="footer__second__wrap_wrap d-flex justify-content-between align-items-center order-1 order-lg-2"><a href="#">Политика конфиденциальности</a><a class="ml-lg-5 mt-3 mt-lg-0" href="#">Пользовательское соглашение</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body><script src="https://yastatic.net/share2/share.js" async="async"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=65920c7d-2bb6-4422-ad3e-0c9dfead78c6&lang=ru_RU" type="text/javascript"></script>
  <script src="js/main.min.js"></script>
</html>
