release/basket.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="js/startFunction.min.js"></script>
    <title>Project</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header_border d-none d-lg-flex">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="header__first">
                  <div class="city"><span>Выш город:</span><span class="city__point">Москва</span></div>
                  <nav class="header__first__nav"><a href="#"> Блог</a><a href="#"> Доставка и оплата</a><a href="#"> Дилерам</a><a href="#"> Контакты</a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="header__second"><a class="logo" href="#">
                  <picture>
                    <source media="(max-width: 991px)" data-srcset="images/logo__mobile.png"><img class="lazyload" data-src="images/logo__desktop.png" alt="logo">
                  </picture><span class="logo__header">Intera<br>Lighting</span></a>
                <div class="phone-collection d-none d-lg-flex align-self-center">
                  <div class="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
                  <div classs="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
                </div>
                <div class="d-none d-lg-flex align-self-center">
                  <button class="btn btn_orange" data-toggle="modal" data-target="#modalCall">Обратный звонок</button>
                </div>
                <div class="d-flex align-items-center"><a class="basket basket_mini full" href="#">
                    <div class="basket__icon"><i class="fas fa-shopping-cart"></i>
                      <div class="basket__count">5</div>
                    </div>
                    <div class="pl-3"><span class="basket__title">Ваша корзина</span><span class="basket__price">Сумма 64 546 руб.</span></div></a>
                  <button class="btn__menu d-lg-none">
                    <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                      <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                      <path class="line middle" d="m 30,50 h 40"></path>
                      <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header__third d-none d-lg-flex">
          <div class="container">
            <div class="row">
              <div class="col-1 d-flex align-items-center"><a href="#"><i class="fas fa-home"></i></a></div>
              <div class="col-10">
                <nav>
                  <div class="hed"><a href="#">Каталог светильников</a>
                    <div class="hed__deep">
                      <div class="container">
                        <div class="row no-gutters align-items-start">
                          <div class="col-2"><span class="d-block h2 pt-5">Каталог<br>продукции</span></div>
                          <div class="col-6 pl-5 d-flex flex-wrap align-items-start justify-content-start">
                            <div class="hed__deep__wrap"><a href="#">Трековые светильники</a><a href="#">Модульные светильники</a><a href="#">Карданные светильники</a></div>
                            <div class="hed__deep__wrap"><a href="#">Встраиваемые светильники (DownLight)</a><a href="#">Светильники со степенью защиты (IP)</a><a href="#">Светильники для подвесных потолков</a></div>
                            <div class="hed__deep__wrap"><a href="#">Подвесные светильники</a><a href="#">Аварийные светильники</a><a href="#">Уличные светильники</a></div>
                            <div class="hed__deep__wrap"><a href="#">Трековая система (Шинопровод)</a><a href="#">Промышленные светильники</a><a href="#">Комплектующие</a></div>
                          </div>
                          <div class="col-4 pl-5">
                            <div class="hed__deep__right"><img class="lazyload w-100" data-src="images/ed.png" alt="img">
                              <div class="main__slider__content"><span class="main__slider__header">Модульный светильник <span class="d-block">Module line</span></span>
                                <div class="row">
                                  <div class="col-12">
                                    <p>Для создания непрерывных световых линий. Посмотрите более 100 модификаций этого светильника.</p>
                                    <div class="d-flex align-items-center pt-4"><span class="main__slider__price">3,890 руб</span><a class="main__second__link" href="#">Подробнее</a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><a href="#">Отраслевые решения</a><a class="active" href="#">Проектирование</a><a href="#">Монтаж</a><a href="#">Выполненные проекты</a><a href="#"> О компании</a>
                </nav>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-center ">
                <form class="search" id="search">
                  <label class="fas fa-search">
                    <input class="search__input  search" type="search">
                  </label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="navigation__content">
        <div class="navigation__wrap">
          <form class="search" id="search">
            <label class="fas fa-search"></label>
            <input class="search__input  search" type="search" placeholder="Поиск по сайту">
          </form>
          <ul class="navigation__menu">
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Каталог светильников<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Отраслевые решения<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Проектирование<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Монтаж<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> Выполненные проекты<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_1 d-flex justify-content-between align-items-center" href="#"> О компании<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Блог<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Доставка и оплата<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Дилерам<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li><a class="navigation__menu__link_2 active d-flex justify-content-between align-items-center" href="#">Контакты<img class="lazyload" data-src="images/menu_arrow.svg" alt="img"></a></li>
            <li>
              <div class="city"><span>Выш город:</span><span class="city__point">Москва</span></div>
            </li>
            <div class="phone-collection d-lg-flex align-self-center">
              <div class="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
              <div classs="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
            </div>
            <div class="d-flex justify-content-center align-items-center pb-4">
              <button class="btn btn_orange" data-toggle="modal" data-target="#modalCall">Обратный звонок</button>
            </div>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="content__header">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ваша корзина</li>
                  </ol>
                </nav>
                <h1>Ваша корзина</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="basket">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="basket__item">
                  <div class="basket__header d-none d-lg-block">
                    <div class="row">
                      <div class="col-lg-2"><span>Фото</span></div>
                      <div class="col-lg-3"><span>Наименование</span></div>
                      <div class="col-lg-2"><span>Цена</span></div>
                      <div class="col-lg-2"><span>Количество</span></div>
                      <div class="col-lg-2"><span>Сумма</span></div>
                      <div class="col-lg-1"></div>
                    </div>
                  </div>
                  <div class="basket__body">
                    <div class="basket__wrapper">
                      <div class="row">
                        <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center">
                          <picture>
                            <source srcset="images/basket/1x2.png 2x"><img class="lazyload" data-src="images/basket/1.png" alt="img">
                          </picture>
                        </div>
                        <div class="col-12 col-lg-3 d-flex align-items-center"><a class="basket__name my-4 my-lg-0" href="#">ORIGI LED (6g06) 25W/830 15° white</a></div>
                        <div class="col-lg-2  align-items-center d-none d-lg-flex"><span class="basket__numbers">12 490 руб</span></div>
                        <div class="col-6 col-lg-2 d-flex align-items-center">
                          <input class="basket__select my-4 my-lg-0" type="number">
                        </div>
                        <div class="col-6 col-lg-2 d-flex align-items-center"><span class="basket__numbers">12 490 руб</span></div>
                        <div class="col-lg-1 d-flex justify-content-center align-items-center position-static">
                          <form class="basket__close__wrap">
                            <button class="basket__close"><i class="fas fa-times"></i></button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="basket__footer"><span>Итого без учета доставки</span>
                    <h2>47 330 руб</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pb-5">
              <div class="col-12">
                <h2>Оформление заказа</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <form class="form">
                  <h3>Быстрый заказ</h3>
                  <div class="form__line pb-4">
                    <label>Имя
                      <input type="text" placeholder="Анна">
                    </label>
                    <label class="pt-4 pt-lg-0">Фамилия
                      <input type="text" placeholder="Радченко">
                    </label>
                  </div>
                  <div class="form__line pb-4">
                    <label>Телефон*
                      <input type="tel" placeholder="+38 (ХХХ) ХХ ХХ ХХ">
                    </label>
                    <label class="pt-4 pt-lg-0">Email
                      <input type="mail" placeholder="example@example.com">
                    </label>
                  </div>
                  <div class="form__line">
                    <label>Город
                      <select class="basket__select" placeholder="Выбрать город">
                        <option>1</option>
                        <option>2</option>
                      </select>
                    </label>
                    <label class="pt-4 pt-lg-0">Ваш адрес
                      <input type="text" placeholder="ул. Ушинского 25">
                    </label>
                  </div>
                  <div class="form__line py-5">
                    <label class="input input_radio pt-4 pt-lg-0">
                      <input type="radio" name="oplata"><span class="input__element"></span><span>Безналичный расчет</span>
                    </label>
                    <label class="input input_radio pt-4 pt-lg-0">
                      <input type="radio" name="oplata"><span class="input__element"></span><span>Оплата картой</span>
                    </label>
                    <label class="input input_radio pt-4 pt-lg-0">
                      <input type="radio" name="oplata"><span class="input__element"></span><span>Наличными курьеру</span>
                    </label>
                  </div>
                  <div class="form__line py-5">
                    <label class="input input_radio pt-4 pt-lg-0">
                      <input type="radio" name="dostavka"><span class="input__element"></span><span>Доставка автотранспортом компании по Москве</span>
                    </label>
                    <label class="input input_radio pt-4 pt-lg-0">
                      <input type="radio" name="dostavka"><span class="input__element"></span><span>Доставка сторонней транспортной компанией</span>
                    </label>
                  </div>
                  <div class="form__line form__line_text">
                    <div>
                      <label>Комментарий к заказу</label>
                      <textarea placeholder="Введите ваш комментарий"></textarea>
                    </div>
                  </div>
                  <div class="form__line form__line__cke align-items-center pt-5">
                    <div class="d-flex align-items-start justify-content-start pb-4 pt-lb-0">
                      <label class="m-0">
                        <input class="checkbox" type="checkbox" id="checkbox" checked aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                      </label>
                      <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
                    </div>
                    <button class="btn">Оформить заказ</button>
                  </div>
                </form>
              </div>
              <div class="basket__content col-lg-4 d-flex flex-column justify-content-center">
                <h3>Условия доставки</h3>
                <p>Наша компания выполнила поставку осветительного оборудования для магазина Vinoterra - импортера вин и крепкого алкоголя с 2005 года. </p>
                <ul>
                  <li><span>Продолжительный срок службы. </span>Светодиодные модуливсего </li>
                  <li><span>Энергоэффективность. </span>При одинаковом качестве освещения эффективность энергосбережения</li>
                  <li><span>Экологическая безопасность. </span>При производстве трековых светильников </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade call" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-body">
            <div class="row no-gutters">
              <div class="col-lg-6 p-0 call__background"></div>
              <div class="col-12 col-lg-6 p-lg-0">
                <form class="form"><span class="call__header">Бесплатная консультация</span>
                  <p>Оставьте свой номер, и мы перезвоним вам</p>
                  <label class="pt-4 pt-lg-0">Ваш номер телефона
                    <input type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ">
                  </label>
                  <div class="py-5 d-flex justify-content-between align-items-center">
                    <label class="call__input">
                      <input type="radio" name="r"><span></span><span class="call__input__text">Сейчас</span>
                    </label>
                    <label class="call__input">
                      <input type="radio" name="r"><span></span><span class="call__input__text">Точное время</span>
                    </label>
                  </div>
                  <label class="pt-4 pt-lg-0">Во сколько позвонить?
                    <input type="time" value="00:00">
                  </label>
                  <div class="pt-5 form__line_f d-flex align-items-start justify-content-start">
                    <label class="m-0">
                      <input class="checkbox" type="checkbox" id="checkbox" checked aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                    </label>
                    <p class="form__info">Согласен с политикой обработки<br><a class="form__info" href="#">персональных данных</a></p>
                  </div>
                  <button class="btn w-100">Жду звонка</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalCalc" aria-labelledby="ModalCalc" aria-hidden="true" >
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Получить расчет</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <p>Заполните форму и мы свяжемся с вами</p>
    <form class="form form_reshenia">
      <label class="form__line"><span>Ваше имя</span>
        <input type="text" placeholder="Андрей">
      </label>
      <label class="form__line"><span>Ваш номер телефона</span>
        <input type="tel" placeholder="+7 ХХХ ХХХ ХХ ХХ">
      </label>
      <label class="form__line">
        <div class="form__line_f d-flex align-items-start justify-content-start">
          <label class="m-0">
            <input class="checkbox" type="checkbox" id="checkbox" checked aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
          </label>
          <p class="form__info">Согласен с политикой обработки<a class="form__info" href="#">персональных данных</a></p>
        </div>
        <button class="btn" type="submit">Оставить заявку</button>
      </label>
    </form></div>
</div>
</div>
</div>
    <div class="modal fade" id="modalDoneItem" tabindex="-1" role="dialog" aria-labelledby="modalDoneItemTitle" aria-hidden="true">
      <div class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document">
        <div class="modal-content">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-body"><img class="lazyload" data-src="images/card/dimond.png" alt="img">
            <h3 class="mb-4">Товар добавлен<br>в корзину</h3><a class="w-100 btn btn_work mb-4" href="#">Продолжить покупку</a><a class="w-100 btn btn_main" href="#">Оформить заказ</a>
          </div>
        </div>
      </div>
    </div><div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="ModalVideo" aria-labelledby="ModalVideo" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
<div class="modal-content">
    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__first">
        <div class="container">
          <div class="row">
            <div class="col-12 d-block d-lg-none">
              <div class="accordion" id="accordionFooter">
                <div class="card">
                  <h2 class="footer__header card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Меню</h2>
                  <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionFooter">
                    <div class="card-body"><a class="footer__link" href="#">О компании</a><a class="footer__link" href="#">Доставка и оплата</a><a class="footer__link" href="#">Проектирование</a><a class="footer__link" href="#">Монтаж</a><a class="footer__link" href="#">Выполненные проекты</a><a class="footer__link" href="#">Блог</a><a class="footer__link" href="#">Дилерам</a><a class="footer__link" href="#">Контакты</a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="card-header footer__header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Отраслевые решения</h2>
                  <div class="collapse " id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionFooter">
                    <div class="card-body"><a class="footer__link" href="#">Освещение магазинов</a><a class="footer__link" href="#">Освещение офисов</a><a class="footer__link" href="#">Освещение складов</a><a class="footer__link" href="#">Освещение салонов красоты</a><a class="footer__link" href="#">Освещение автосалонов</a><a class="footer__link" href="#">Освещение выставок</a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="footer__header collapsed card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Тип светильников</h2>
                  <div class="collapse " id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionFooter">
                    <div class="card-body"><a class="footer__link" href="#">Трековые светильники</a><a class="footer__link" href="#">Модульные светильники</a><a class="footer__link" href="#">Карданные светильники</a><a class="footer__link" href="#">Встраиваемые светильники </a><a class="footer__link" href="#">Светильники со степенью защиты</a><a class="footer__link" href="#">Светильники для подвесных потолков</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4"><span class="footer__header">Контактная информация</span>
              <p class="footer__description">Адрес: Москва, ул. Полярная, д. 41, стр. 1<br>E-mail: info@interalighting.ru</p>
              <div class="phone-collection ">
                <div class="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
                <div classs="phone-collection__item"><a class="phone-collection__number" href="tel:+74956413848">+7 495 641-38-48</a><span class="phone-collection__description">Пн-Чт с 09:00 до 18:00</span></div>
              </div>
              <div class="social pt-5"><a class="social__link" href="#"><i class="fab fa-facebook-f"></i></a><a class="social__link" href="#"><i class="fab fa-vk"></i></a><a class="social__link" href="#"><i class="fab fa-youtube"></i></a><a class="social__link" href="#"><i class="fab fa-instagram"></i></a></div>
            </div>
            <div class="col-lg-2 d-none d-lg-block"><span class="footer__header">Меню</span><a class="footer__link" href="#">О компании</a><a class="footer__link" href="#">Доставка и оплата</a><a class="footer__link" href="#">Проектирование</a><a class="footer__link" href="#">Монтаж</a><a class="footer__link" href="#">Выполненные проекты</a><a class="footer__link" href="#">Блог</a><a class="footer__link" href="#">Дилерам</a><a class="footer__link" href="#">Контакты</a>
            </div>
            <div class="col-lg-3 d-none d-lg-block"><span class="footer__header">Отраслевые решения</span><a class="footer__link" href="#">Освещение магазинов</a><a class="footer__link" href="#">Освещение офисов</a><a class="footer__link" href="#">Освещение складов</a><a class="footer__link" href="#">Освещение салонов красоты</a><a class="footer__link" href="#">Освещение автосалонов</a><a class="footer__link" href="#">Освещение выставок</a>
            </div>
            <div class="col-lg-3 d-none d-lg-block"><span class="footer__header">Тип светильников</span><a class="footer__link" href="#">Трековые светильники</a><a class="footer__link" href="#">Модульные светильники</a><a class="footer__link" href="#">Карданные светильники</a><a class="footer__link" href="#">Встраиваемые светильники </a><a class="footer__link" href="#">Светильники со степенью защиты</a><a class="footer__link" href="#">Светильники для подвесных потолков</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__second">
        <div class="container">
          <div class="row">
            <div class="footer__second__wrap col-12 d-flex justify-content-between align-items-center"><span class="order-2 order-lg-1 d-none d-lg-block">© 2005-2019 «Интера Лайтинг» Все права защищены</span><span class="order-2 order-lg-1 pt-5 pt-lg-0 d-block d-lg-none text-center">© 2005-2019 «Интера Лайтинг»<br>Все права защищены</span>
              <div class="footer__second__wrap_wrap d-flex justify-content-between align-items-center order-1 order-lg-2"><a href="#">Политика конфиденциальности</a><a class="ml-lg-5 mt-3 mt-lg-0" href="#">Пользовательское соглашение</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body><script src="https://yastatic.net/share2/share.js" async="async"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=65920c7d-2bb6-4422-ad3e-0c9dfead78c6&lang=ru_RU" type="text/javascript"></script>
  <script src="js/main.min.js"></script>
</html>

source/html/basket.pug
extends base.pug
block content

	div(class="content__header")
		div(class="container")
			div(class="row")
				div(class="col-12")
					nav(aria-label="breadcrumb")
						ol(class="breadcrumb")
							li(class="breadcrumb-item")
								a(href="#")
									| Главная
							li(class="breadcrumb-item active" aria-current="page")
								| Ваша корзина
					h1
						| Ваша корзина
	div(class="basket")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="basket__item")
						div(class="basket__header d-none d-lg-block")
							div(class="row")
								div(class="col-lg-2")
									span
										| Фото
								div(class="col-lg-3")
									span
										| Наименование
								div(class="col-lg-2")
									span
										| Цена
								div(class="col-lg-2")
									span
										| Количество
								div(class="col-lg-2")
									span
										| Сумма
								div(class="col-lg-1")
						div(class="basket__body")
							div(class="basket__wrapper")
								div(class="row")
									div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center")
										picture()
											source(srcset="images/basket/1x2.png 2x")
											img(class="lazyload" data-src="images/basket/1.png" alt="img")
									div(class="col-12 col-lg-3 d-flex align-items-center")
										a(class="basket__name my-4 my-lg-0" href="#")
											| ORIGI LED (6g06) 25W/830 15° white
									div(class="col-lg-2  align-items-center d-none d-lg-flex")
										span(class="basket__numbers")
											| 12 490 руб
									div(class="col-6 col-lg-2 d-flex align-items-center")
										input(class="basket__select my-4 my-lg-0" type="number")
									div(class="col-6 col-lg-2 d-flex align-items-center")
										span(class="basket__numbers")
											| 12 490 руб
									div(class="col-lg-1 d-flex justify-content-center align-items-center position-static")
										form(class="basket__close__wrap")
											button(class="basket__close")
												<i class="fas fa-times"></i>
						div(class="basket__footer")
							span
								| Итого без учета доставки
							h2
								| 47 330 руб
			div(class="row pb-5")
				div(class="col-12")
					h2
						| Оформление заказа
			div(class="row")
				div(class="col-lg-8")
					form(class="form")
						h3
							| Быстрый заказ
						div(class="form__line pb-4")
							label
								| Имя
								input(type="text" placeholder="Анна")
							label(class="pt-4 pt-lg-0")
								| Фамилия
								input(type="text" placeholder="Радченко")
						div(class="form__line pb-4")
							label
								| Телефон*
								input(type="tel" placeholder="+38 (ХХХ) ХХ ХХ ХХ")
							label(class="pt-4 pt-lg-0")
								| Email
								input(type="mail" placeholder="example@example.com")
						div(class="form__line")
							label
								| Город
								select(class="basket__select" placeholder="Выбрать город")
									option()
										| 1
									option
										| 2
							label(class="pt-4 pt-lg-0")
								| Ваш адрес
								input(type="text" placeholder="ул. Ушинского 25")
						div(class="form__line py-5")
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="oplata")
								span(class="input__element")
								span()
									| Безналичный расчет
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="oplata")
								span(class="input__element")
								span()
									| Оплата картой
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="oplata")
								span(class="input__element")
								span()
									| Наличными курьеру
						div(class="form__line py-5")
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="dostavka")
								span(class="input__element")
								span()
									| Доставка автотранспортом компании по Москве
							label(class="input input_radio pt-4 pt-lg-0")
								input(type="radio" name="dostavka")
								span(class="input__element")
								span()
									| Доставка сторонней транспортной компанией
						div(class="form__line form__line_text")
							div()
								label
									| Комментарий к заказу
								textarea(placeholder="Введите ваш комментарий")
						div(class="form__line form__line__cke align-items-center pt-5")
							div(class="d-flex align-items-start justify-content-start pb-4 pt-lb-0")
								label(class="m-0")
									input(type="checkbox" id="checkbox" class="checkbox" checked aria-label="Checkbox for following text input")
									span(for="checkbox" class="checkbox__label")
								p( class="form__info")
									| Согласен с политикой обработки
									a(href="#" class="form__info")
										| персональных данных
							button(class="btn")
								| Оформить заказ
				div(class="basket__content col-lg-4 d-flex flex-column justify-content-center")
					h3
						| Условия доставки
					p
						| Наша компания выполнила поставку осветительного оборудования для магазина Vinoterra - импортера вин и крепкого алкоголя с 2005 года. 
					ul()
						li()
							span()
								| Продолжительный срок службы. 
							| Светодиодные модуливсего 
						li()
							span()
								| Энергоэффективность. 
							| При одинаковом качестве освещения эффективность энергосбережения
						li()
							span()
								| Экологическая безопасность. 
							| При производстве трековых светильников 
